@media  screen and (max-width:1199px) {
    .productlist-wrapper{
        justify-content: center;
    }
}
.productlist-wrapper{
    flex-wrap: wrap;
}
.dnone{
    display: none;
}
.dblock{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.figure-gif{
    width: 100%;
}