.ImLink{
    margin-top: 30px;
    flex-basis: 31%;
    text-decoration: 0;
    position: relative;
    overflow: hidden;
    background: #191919;
    

    .ImLink-title{
        color: white;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        padding: 26px 15px 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
    
    }
    &:hover{

        img{
            transform: scale(1.1);
            -o-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            -webkit-transform: scale(1.1,1.1);
            opacity: .5;
        }
        .ImLink-title{
            color: #e61638;
        }
    }
  
}
.ImLink-img{
    min-width: 100%;
    transition: .2s ease-in-out;

}

@media screen and (max-width:1200px){
    .ImLink-title{
        font-size: 16px !important;
        line-height: 20px !important;
    }
}


@media screen and (max-width:480px){
    .ImLink{
        flex-basis: 100%;
    }
    .ImLink-title{
        font-size: 30px !important;
        line-height: 36px !important;
    }
   
}