.baretools-wrap{
    height: 100%;
    width: 100%;
}
.baretools-content{
    width: 100%;
    .baretools-title{
        text-transform: uppercase;
        
    }
}
.filter{
    padding: 5px 10px;
    color: #fff;
    background: #000000;
    border: none;
}
.active{
    background-color: #e61638;
}
.baretools-info{
    
    p{
        font-size: 13px;
        color: #777;
    }
    img{
        max-width: 20%;
        align-self: center;
    }
}
@media screen and (max-width:500px) {
    .baretools-info{
        flex-direction: column;
    }
}
